# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment & secrets
.env

# Databases
*.db
instance/

# Logs & temporary files
*.log
*.tmp

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
