{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block body_class %}auth-page{% endblock %}
{% block content %}

<div class="plant_shadow">
  <div class="back-home-btn_box">
    <a href="{{ url_for('home') }}" class="back-home-btn">Home</a>
  </div>
  <div class="log_in_and_sign_up_container">
    <form method="post">
      <h2>Log in</h2>
      <label>Email <input name="email" type="email" required></label><br>
      <label>Password <input name="password" type="password" required></label><br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
              <p class="p2">{{ msg }}</p>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <button type="submit">Log in</button>
      <p>New here? <a href="/auth/signup">Create an account</a></p>
    </form>
  </div>
</div>

{% endblock %}
